* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Shabnam', 'Segoe UI', Tahoma, sans-serif;
    list-style-type: none;
}

body{
    background-color: #1b1d39;
    min-height: 100vh;
}

a{
    text-decoration: none !important;
    color: inherit;
}

.navbars{
    padding: 2.5rem 0;

    position: relative;


    &-items{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #efefef;



        &__right , &__left{

            &-logo{
                font-size: 2rem;
                font-weight: bold;
            }

            &-text{
                margin-right: 2.5rem;
                font-size: 1.1rem;
                transition: all .4s ease-in-out;
                position: relative;

                &:hover {
                    transition: transform .4s ease-in-out;
                    color: #efefef;

                    &::after {
                        transform: translateX(-50%) scaleX(1);
                    }
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: #f79158;
                    border-radius: 100%;
                    bottom: -10%;
                    left: 50%;
                    top: 130%;
                    transform: translateX(-50%) scaleX(0);
                    transition: transform .4s ease-in-out;

                }
                
            }

            &-register{
                margin: 0 1.5rem;
                background-color: #f79158;
                padding: .5rem 1.2rem;
                border-radius: 1.5rem;
                color: #1b1d39;
                font-size: 1.2rem;
                
                border: 2px solid #f79158;
                transition: all .4s ease-in-out;


                &:hover{
                    border: 2px solid #f79158;
                    background-color: transparent;
                    color: #f79158;
                    transition: all .4s ease-in-out;
                }
            }
            &-login{
                font-size: 1.2rem;

                transition: all .4s ease-in-out;


                &:hover{
                    color: #f79158;
                    transition: all .4s ease-in-out;
                }
            }
        }

        &__left{
            display: flex;
            align-items: center;

            .icon{
                display: none;
                cursor: pointer;
            }
        }

        &__mobile{
            display: none;
        }


        @media screen and (max-width : 998px){
            
            &__right{

                &-text{
                    display: none;
                }
            }
            &__left{
                .icon{
                    display: block;
                    margin-right: 1.5rem;
                    font-size: 2rem;
                }
            }

            &__mobile{
                display: flex;
                opacity: 0;
                flex-direction: column;
                position: absolute;
                content: '';
                width: 100%;
                background-color: #efefef;
                color: #1b1d39;
                font-size: 1.5rem;
                top: 80%;
                line-height: 2.5;
                right: 0;
                text-align: center;
                transition: opacity .4s ease-in-out;
                z-index: -1;


                &.active-nav{
                    z-index:1;
                    opacity: 1;
                    transition: opacity .4s ease-in-out;
                }
            }
        }

    }
}

// end style navbars

.header{
    padding: 5rem 0;
    color: #efefef;
    z-index: 0;

    &-container{
        display: flex;
        justify-content: space-between;

        img{
            width: 45%;
        }

        &__details{
            width: 55%;
            margin-top: 4rem;
            line-height: 3rem;

            &-subtitle{
                font-size: 1.2rem;
                color:  #f79158;
                font-weight: 400;
            }
            &-title{
                display: flex;
                align-items: center;
                font-size: 1.5rem;

                h2{
                    font-size: 3rem;
                    color: #f79158;
                    font-weight: bold;
                    margin-left: .7rem;
                }
            }
            &-desc{
                font-size: 1.1rem;
            }
            &-btn{
                background-color: #f79158;
                color: #1b1d39;
                border-radius: 1.5rem;
                padding: .5rem 1.2rem;
                font-size: 1.2rem;
                transition: all .4s ease-in-out;
                border: 2px solid #f79158;


                &:hover{
                    border: 2px solid #f79158;
                    background-color: transparent;
                    color: #f79158;
                    transition: all .4s ease-in-out;
                }

            }
        }


        @media screen and (max-width : 998px){
            flex-direction: column-reverse;

            img{
                width: 100%;
            }
            &__details{
                width: 100%;
                text-align: center;

                &-title{
                    justify-content: center;
                }
                &-desc{
                    font-size: .9rem;
                }
            }
        }
    }
}

// end style header

.cards{
    padding: 6rem 0;

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        &__box{
            width: 20%;
            background-color: #f79158;
            border-radius: .5rem;
            box-shadow: 0px 1px 5px 1px #f79158;
-webkit-box-shadow: 0px 1px 5px 1px #f79158;
-moz-box-shadow: 0px 1px 5px 1px #f79158;

            &-name{
                font-size: 1.3rem;
                font-weight: 500;
                color: #1b1d39;
            }
            &-price{
                margin: 1.5rem 0;
                font-size: 1.2rem;
                font-weight: 400;
                color: #1b1d39;
            }
            &-btn{
                background-color: #1b1d39;
                padding: .5rem 1.2rem;
                border-radius: 1.5rem;
                color: #f79158;
                font-size: 1.2rem;
                margin: 1.5rem 0;

                transition: all .4s ease-in-out;
                border: 2px solid #1b1d39;


                &:hover{
                    border: 2px solid #1b1d39;
                    background-color: transparent;
                    color: #1b1d39;
                    transition: all .4s ease-in-out;
                }
            }
        }

        @media screen and (max-width : 998px){
            flex-wrap: wrap;

            &__box{
                width: 45%;
                margin: 1rem 0;
            }
        }
        @media screen and (max-width : 768px){
            flex-direction: column;

            &__box{
                width: 80%;
            }
        }
    }
}

// end style card

.service{
    color: #efefef;
    padding: 6rem 0;

    &-title{
        font-size: 1.7rem;
        font-weight: bold;
    }
    &-container{
        margin: 3rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &__box{
            border-radius: .5rem;
            box-shadow: 0px 1px 5px 1px #f79158;
-webkit-box-shadow: 0px 1px 5px 1px #f79158;
-moz-box-shadow: 0px 1px 5px 1px #f79158;
            padding: .5rem .8rem;
            text-align: right;
            width: 30%;
            margin: 1rem;

            

            &-title{
                font-size: 1.5rem;
                margin: .7rem 0;
            }
            &-desc{
                font-size:.9rem;
            }

        }

        @media screen and (max-width : 998px){
            flex-wrap: wrap;

            &__box{
                width: 45%;
                margin: 1rem 0;
            }
        }
        @media screen and (max-width : 768px){
            flex-direction: column;

            &__box{
                width: 80%;
                text-align: center;
            }
        }
    }
}

// end style service
.support{
    padding: 6rem 0;

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__details{
            color: #efefef;

            &-head{
                display: flex;
                align-items: center;
                font-size: 1.3rem;
                font-weight: 500;

                span{
                    font-size: 2rem;
                    margin-left: .5rem;
                }
            }
            &-body{
                font-size: 1.7rem;
                font-weight: bold;
                margin: .7rem 0;

            }
        }
        &__btn{
                background-color: #f79158;
                padding: .5rem 1.2rem;
                border-radius: 1.5rem;
                color: #1b1d39;
                font-size: 1.2rem;
                transition: all .4s ease-in-out;
                border: 2px solid #f79158;


                &:hover{
                    border: 2px solid #f79158;
                    background-color: transparent;
                    color: #f79158;
                    transition: all .4s ease-in-out;
                }



        }

        @media screen and (max-width : 998px){
            flex-direction: column;
            align-items: center;    

            &__details{
                &-head{
                    font-size: 1rem;
                    justify-content: center;
                }
                &-body{
                    font-size: 1.3rem;
                }
            }
            &__btn{
                margin-top: 1rem;
            }
            
        }
    }
}
.contact{
    padding: 6rem 0;
    &-box{
        display: flex;
        justify-content: space-between;
        color: #efefef;
        
        &__right{
            width: 40%;
            

            &-title{
                font-weight: bold;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            &-desc{
                line-height: 2;
            }
        }

        &__left{
            width: 40%;
            border-radius: .5rem;
            padding: 1rem;
            margin-top: 1.5rem;
            position: relative;
            box-shadow: 0px 1px 5px 1px #f79158;
-webkit-box-shadow: 0px 1px 5px 1px #f79158;
-moz-box-shadow: 0px 1px 5px 1px #f79158;
            
            &-title{
                text-align: center;
                font-size: 1.7rem;
                font-weight: 700;
                color: #f79158;
                padding: 2rem 0 1.5rem;
            }
            .line{
                position: absolute;
                content: '';
                width: 70%;
                background-color: #f79158;
                border-radius: .5rem;
                height: 4px;
                right:15%;

            }
            &-socials{
                width: 70%;
                margin: 2rem auto;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a{
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            
        }

        @media screen and (max-width : 998px){

            flex-direction: column;

            &__right{
                width: 100%;
            }
            &__left{
                width: 100%;
            }
            
        }
        
    }
}

// end style contact & support

.blog{
    padding: 6rem 0;

    &-container{
        padding: 2rem;
        border-radius: .5rem;
        border: 2px solid #f79158;
        box-shadow: 0px 1px 5px 1px #f79158;
-webkit-box-shadow: 0px 1px 5px 1px #f79158;
-moz-box-shadow: 0px 1px 5px 1px #f79158;

        &__title{
            color: #efefef;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-text{
                font-size: 1.7rem;
            }

            &-more{
                display: flex;
                align-items: center;

                span{
                    margin-right: .2rem;
                }
            }
        }

        &__box{
            text-align: center;
            color: #1b1d39;
            margin: 2rem 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            
            

            &-details{
                padding: 1.8rem .7rem;
            background-color: #f79158;
            border-radius: .5rem;
            width: 30%;
                font-size: 1.5rem;
                font-weight: 600;
                

            }
        }

        @media screen and (max-width : 998px){

            width: 95%;

            &__title{

                &-text{
                    font-size: 1.3rem;
                }
            }
            &__box{
                flex-direction: column;

                &-details{
                    width: 100%;
                    margin: 1rem auto;
                }
            }
        }
        
    }
}

// end blog
