* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Shabnam', 'Segoe UI', Tahoma, sans-serif;
  list-style-type: none;
}

body {
  background-color: #1b1d39;
  min-height: 100vh;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.navbars {
  padding: 2.5rem 0;
}

.navbars-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #efefef;
}

.navbars-items__right-logo, .navbars-items__left-logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbars-items__right-text, .navbars-items__left-text {
  margin-right: 2.5rem;
  font-size: 1.1rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  position: relative;
}

.navbars-items__right-text:hover, .navbars-items__left-text:hover {
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  color: #efefef;
}

.navbars-items__right-text:hover::after, .navbars-items__left-text:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.navbars-items__right-text::after, .navbars-items__left-text::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #efefef;
  border-radius: 100%;
  bottom: -10%;
  left: 50%;
  top: 130%;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.navbars-items__right-register, .navbars-items__left-register {
  margin: 0 3rem;
  background-color: #f79158;
  padding: .5rem 1.2rem;
  border-radius: 1.5rem;
  color: #1b1d39;
  font-size: 1.2rem;
}

.navbars-items__right-login, .navbars-items__left-login {
  font-size: 1.2rem;
}

.header {
  padding: 5rem 0;
  color: #efefef;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container img {
  width: 45%;
}

.header-container__details {
  width: 55%;
  margin-top: 4rem;
  line-height: 3rem;
}

.header-container__details-subtitle {
  font-size: 1.2rem;
  color: #f79158;
  font-weight: 400;
}

.header-container__details-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.header-container__details-title h2 {
  font-size: 3rem;
  color: #f79158;
  font-weight: bold;
  margin-left: .7rem;
}

.header-container__details-desc {
  font-size: 1.1rem;
}

.header-container__details-btn {
  background-color: #f79158;
  color: #1b1d39;
  border-radius: 1.5rem;
  padding: .5rem 1.2rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 998px) {
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header-container img {
    width: 100%;
  }
  .header-container__details {
    width: 100%;
    text-align: center;
  }
  .header-container__details-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-container__details-desc {
    font-size: .9rem;
  }
}

.cards {
  padding: 6rem 0;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.cards-container__box {
  width: 20%;
  background-color: #f79158;
  border-radius: .5rem;
}

.cards-container__box-name {
  font-size: 1.3rem;
  font-weight: 500;
  color: #1b1d39;
}

.cards-container__box-price {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #1b1d39;
}

.cards-container__box-btn {
  background-color: #1b1d39;
  padding: .5rem 1.2rem;
  border-radius: 1.5rem;
  color: #f79158;
  font-size: 1.2rem;
  margin: 1.5rem 0;
  border: none;
}

@media screen and (max-width: 998px) {
  .cards-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards-container__box {
    width: 45%;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards-container__box {
    width: 80%;
  }
}

.service {
  color: #efefef;
  padding: 6rem 0;
}

.service-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.service-container {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-container__box {
  border-radius: .5rem;
  padding: .5rem .8rem;
  text-align: right;
  width: 30%;
  margin: 1rem;
}

.service-container__box-title {
  font-size: 1.5rem;
  margin: .7rem 0;
}

.service-container__box-desc {
  font-size: .9rem;
}

@media screen and (max-width: 998px) {
  .service-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service-container__box {
    width: 45%;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .service-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service-container__box {
    width: 80%;
    text-align: center;
  }
}

.support {
  padding: 6rem 0;
}

.support-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.support-container__details {
  color: #efefef;
}

.support-container__details-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.support-container__details-head span {
  font-size: 2rem;
  margin-left: .5rem;
}

.support-container__details-body {
  font-size: 1.7rem;
  font-weight: bold;
  margin: .7rem 0;
}

.support-container__btn {
  background-color: #f79158;
  padding: .5rem 1.2rem;
  border-radius: 1.5rem;
  color: #1b1d39;
  font-size: 1.2rem;
  border: none;
}

@media screen and (max-width: 998px) {
  .support-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .support-container__details-head {
    font-size: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .support-container__details-body {
    font-size: 1.3rem;
  }
  .support-container__btn {
    margin-top: 1rem;
  }
}

.contact {
  padding: 6rem 0;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #efefef;
}

.contact-box__right {
  width: 40%;
}

.contact-box__right-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-box__right-desc {
  line-height: 2;
}

.contact-box__left {
  width: 40%;
  padding: 1rem;
  margin-top: 1.5rem;
  position: relative;
}

.contact-box__left-title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  color: #f79158;
  padding: 2rem 0 1.5rem;
}

.contact-box__left .line {
  position: absolute;
  content: '';
  width: 70%;
  background-color: #f79158;
  border-radius: .5rem;
  height: 4px;
  right: 15%;
}

.contact-box__left-socials {
  width: 70%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-box__left-socials a img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 998px) {
  .contact-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-box__right {
    width: 100%;
  }
  .contact-box__left {
    width: 100%;
  }
}

.blog {
  padding: 6rem 0;
}

.blog-container {
  padding: 2rem;
  border-radius: .5rem;
  border: 2px solid #f79158;
}

.blog-container__title {
  color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-container__title-text {
  font-size: 1.7rem;
}

.blog-container__title-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-container__title-more span {
  margin-right: .2rem;
}

.blog-container__box {
  text-align: center;
  color: #1b1d39;
  margin: 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-container__box-details {
  padding: 1.8rem .7rem;
  background-color: #f79158;
  border-radius: .5rem;
  width: 30%;
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 998px) {
  .blog-container__title-text {
    font-size: 1.3rem;
  }
  .blog-container__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-container__box-details {
    width: 100%;
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=style.css.map */